.reaction-button.liked {
    box-shadow: 0 0 0 2px #34c759;
    background-color: #eaffea;
    color: #228822;
}

.reaction-button.disliked {
    box-shadow: 0 0 0 2px #ff3b30;
    background-color: #ffecec;
    color: #bb2222;
}
