.homepage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.homepage-info {
    display: grid;
    justify-items: center;
    .txtP {
        font-size: 1.5rem;
    }
    .one-title {
        font-size: 3.75rem;
    }
}

.status {
    text-align: center;
    color: gray;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-large {
    width: 100%;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


@media (max-width: 768px) {
    .post-grid {
        grid-template-columns: 1fr;
    }
}
